<!DOCTYPE html>
<html lang="en">
<head>
	<title>2018 Primary Voters Guide | HoustonChronicle.com</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Social meta tags -->
	<meta name="description" content="Need help vetting candidates before the March primary? Explore our voter guide.">
	<meta name="keywords" content="primaries, Texas politics, Houston, Congress, elections, 2018 elections, midterms, midterm elections, 2018 midterms, Houston politics, voters guide, voting, voters, Houston voters, primary voters guide, Democrats, Republicans, Texas legislature, Texas governor">
	<meta name="author" content="Houston Chronicle">
	<meta property="og:type" content="2018 Primary Voters Guide | HoustonChronicle.com">
	<meta property="og:title" content="The Houston Chronicle’s Primary Voters Guide">
	<meta property="og:site_name" content="Houston Chronicle">
	<meta property="og:url" content="http://projects.houstonchronicle.com/2018/elections/primaries/">
	<meta property="og:image" content="https://s.hdnux.com/photos/54/50/46/11700620/6/rawImage.png">
	<meta property="og:description" content="The Houston Chronicle asked candidates how they plan to transform Texas.">
	<!-- Twitter card meta info -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="The Houston Chronicle’s Primary Voters Guide">
	<meta name="twitter:site" content="@HoustonChron">
	<meta name="twitter:creator" content="@HoustonChron" />
	<meta name="twitter:url" content="http://projects.houstonchronicle.com/2018/elections/primaries/">
	<meta name="twitter:image" content="https://s.hdnux.com/photos/54/50/46/11700620/6/rawImage.png">
	<meta name="twitter:description" content="Need help vetting candidates before the March primary? Explore our voter guide.">
	<!-- Font Aerdomr icons-->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">    
	<!-- Bootstrap core CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!--load font awesome-->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	<!---AngularJS--->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<!---Custom styles--->
	<link rel='stylesheet' href="css/guide.css">
	<link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon'/ >
</head>
<body ng-app="myApp"> 
	<div ng-controller="MyCtrl">
		<!-- Navbar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="http://www.houstonchronicle.com/"><img src="http://ww3.hdnux.com/photos/46/76/02/10215602/4/rawImage.png" class="img-responsive"/></a>
				</div>
				<div id="navbar" class="collapse navbar-collapse auto">
					<ul class="nav navbar-nav">
						<li><a href="https://www.houstonchronicle.com/politics/election/election2018/">Election HQ</a></li>
						<li><a href="http://projects.houstonchronicle.com/2018/elections/primaries/">Voters Guide</a></li>
						<li><a href="https://www.houstonchronicle.com/opinion/endorsements/">Endorsements</a></li>
						<li><a href="https://www.houstonchronicle.com/politics/">Texas Politics</a></li>
						<li><a href="https://www.houstonchronicle.com/local/politics-policy/">Houston Politics</a></li>
						<li><a href="https://www.houstonchronicle.com/politics/texas-take/texas-take-podcast/">Texas Take Podcast</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right"> 
						<li><a href=http://www.facebook.com/dialog/feed?app_id=653292111352579&amp;link=http%3A%2F%2Fprojects.houstonchronicle.com%2F2018%2Felections%2Fprimaries&amp;display=popup&amp;redirect_uri=http%3A%2F%2Fwww.houstonchronicle.com%2Fwclose.html&amp;description=The%20Houston%20Chronicle%20asked%20candidates%20how%20they%20plan%20to%20transform%20Texas.&amp;picture=https%3A%2F%2Fs.hdnux.com%2Fphotos%2F54%2F50%2F46%2F11700620%2F6%2FrawImage.png&amp;name=Need%20help%20vetting%20candidates%20before%20the%20March%20primary%3F%20Explore%20our%20voters%20guide. target="_blank" onclick="return openWindow(this.href, 400, 580);"><i class="fa fa-2x fa-facebook"></i></a></li>
						<li class="twitter"><a href="https://twitter.com/intent/tweet?text=Need help vetting candidates before the March primary? Explore our voters guide. http://projects.houstonchronicle.com/2018/elections/primaries/" target="_blank"><i class="fa fa-2x fa-twitter"></i></a></li>
						<li><a href="mailto:?subject=The Houston Chronicle’s Primary Voters Guide &body=Need help vetting candidates before the March primary? Explore our voter guide here. http://projects.houstonchronicle.com/2018/elections/primaries/"><i class="fa fa-2x fa-envelope"></i></a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>		
		<!---Headline--->
		<img class="img-responsive" src="images/banner.jpg" />
		<div class="container">
			<div class="col-md-9 col-md-offset-1">
				<h2>The Houston Chronicle’s Primary Voters Guide</h2>
				<div id="intro">
					<p>We invited candidates in Houston’s contested primary races to answer questions on issues facing the state and how they plan to transform Texas. The candidate’s responses are unedited and presented as submitted to the Houston Chronicle. Some of the candidates, including Gov. Greg Abbott, did not respond to our questionnaire.</p>
					<p>Select a party below to see the candidates in contested primary races. You will not see races that are uncontested, such as the Attorney General’s race.</p>
					<p>Select “all candidates” to see every candidate running regardless of party.</p>
					<p>To find out your districts, <a href="http://www.fyi.legis.state.tx.us/Home.aspx" target="_blank">go here</a>.</p>
					<p><em>If you have questions or comments about our guide, please contact politics reporter Alejandra Matos at <a href="mailto:Alejandra.matos@chron.com">Alejandra.matos@chron.com</a>.</em></p>
				</div>
				<!---Clear races filter button--->
				<div class="clearraces">
					<p>Click on a candidate's name to see more information.</p>
					<p><em>To go back to the races, <span class="clear">click here.</span></em></p>
				</div><!---End clear races filter button--->
				<!---Begin filter--->
				<div class="partyfilters">
					<ul>
						<!---Party filter--->
						<li>				
							<select class="party" ng-model="filters.party">
								<option selected disabled value>----</option><span class="caret"></span>
								<option value='dem'>Democrat</option>
								<option value='gop'>Republican</option>
								<option value='party'>All candidates</option>
							</select>
						</li>
					</ul>
				</div><!----End filters--->
				<!----Begin races display--->
				<div id="races">
					<p>Federal</p>
					<ul>
						<li class="both" ng-click="races = {abbvOffice: 'ussenate'}"><span>U.S. Senate</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'cd2'}"><span>District 2</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'cd7'}"><span>District 7</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'cd10'}"><span>District 10</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'cd14'}"><span>District 14</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'cd18'}"><span>District 18</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'cdtwentytwo'}"><span>District 22</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'cdtwentyseven'}"><span>District 27</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'cdtwentynine'}"><span>District 29</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'cd36'}"><span>District 36</span></li>
					</ul>
					<hr>
					<p>Statehouse</p>
					<ul>
						<li class="gop" ng-click="races = {abbvOffice: 'hd15'}"><span>House District 15</span></li>
						<li class="gop" ng-click="races = {abbvOffice: 'House District 18'}"><span>House District 18</span></li>
						<li class="gop" ng-click="races = {abbvOffice: 'House District 23'}"><span>House District 23</span></li>
						<li class="gop" ng-click="races = {abbvOffice: 'House District 25'}"><span>House District 25</span></li>
						<li class="dem" ng-click="races = {abbvOffice: 'House District 27'}"><span>House District 27</span></li>
						<li class="dem" ng-click="races = {abbvOffice: 'House District 28'}"><span>House District 28</span></li>
						<li class="dem" ng-click="races = {abbvOffice: 'House District 29'}"><span>House District 29</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'House District 126'}"><span>House District 126</span></li>
						<li class="gop" ng-click="races = {abbvOffice: 'House District 127'}"><span>House District 127</span></li>
						<li class="dem" ng-click="races = {abbvOffice: 'House District 132'}"><span>House District 132</span></li>
						<li class="dem" ng-click="races = {abbvOffice: 'House District 133'}"><span>House District 133</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'House District 134'}"><span>House District 134</span></li>
						<li class="dem" ng-click="races = {abbvOffice: 'House District 138'}"><span>House District 138</span></li>
						<li class="dem" ng-click="races = {abbvOffice: 'House District 139'}"><span>House District 139</span></li>
						<li class="dem" ng-click="races = {abbvOffice: 'House District 140'}"><span>House District 140</span></li>
						<li class="dem" ng-click="races = {abbvOffice: 'House District 142'}"><span>House District 142</span></li>
						<li class="gop" ng-click="races = {abbvOffice: 'House District 144'}"><span>House District 144</span></li>
						<li class="dem" ng-click="races = {abbvOffice: 'House District 146'}"><span>House District 146</span></li>
						<li class="dem" ng-click="races = {abbvOffice: 'House District 147'}"><span>House District 147</span></li>
						<li class="gop" ng-click="races = {abbvOffice: 'House District 150'}"><span>House District 150</span></li>
						<li class="dem" ng-click="races = {abbvOffice: 'Senate District 15'}"><span>Senate District 15</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'Senate District 17'}"><span>Senate District 17</span></li>
					</ul>
					<hr>
					<p>Statewide</p>
					<ul>
						<li class="both" ng-click="races = {abbvOffice: 'Governor'}"><span>Governor</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'ltg'}"><span>Lt. Governor</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'Comptroller'}"><span>Comptroller</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'Agriculture Commissioner'}"><span>Agriculture Commissioner</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'Land Commissioner'}"><span>Land Commissioner</span></li>
						<li class="both" ng-click="races = {abbvOffice: 'Railroad Commission Chairman'}"><span>Railroad Commission Chairman</span></li>
						<li class="gop" ng-click="races = {abbvOffice: 'Court of Criminal Appeals, Presiding Judge'}"><span>Court of Criminal Appeals, Presiding Judge</span></li>
						<li class="gop" ng-click="races = {abbvOffice: 'Court of Criminal Appeals, Place 8'}"><span>Court of Criminal Appeals, Place 8</span></li>
					</ul>
					<hr>
				</div><!----End races display--->
				<!---Indices/related coverage--->
				<div class="indices">
					<h2>Related coverage:</h2>
					<div class="row">
						<div class="col-sm-3 col-md-3">
							<a href="https://www.houstonchronicle.com/politics/election/election2018/"><p>Election HQ: Early voting starts Feb. 20. Here’s the latest news</p></a>
							<a href="https://www.houstonchronicle.com/politics/election/election2018/"><img class="img-responsive" src="https://s.hdnux.com/photos/71/04/45/14961014/4/rawImage.jpg" /></a>
						</div>
						<hr class="visible-xs">
						<div class="col-sm-3 col-md-3" id="second">
							<a href="https://www.houstonchronicle.com/news/politics/texas/article/Voting-essentials-Where-and-when-to-vote-and-12537359.php"><p>Voting essentials: When, where to vote and what's on the ballot</p></a>
							<a href="https://www.houstonchronicle.com/news/politics/texas/article/Voting-essentials-Where-and-when-to-vote-and-12537359.php"><img class="img-responsive" src="https://s.hdnux.com/photos/66/61/77/14360551/7/landscape_43.jpg" /></a>
						</div>
						<hr class="visible-xs">
						<div class="col-sm-3 col-md-3" id="third">
							<a href="https://www.houstonchronicle.com/opinion/endorsements/"><p>Endorsements: See who our editorial board recommends for office</p></a>
							<a href="https://www.houstonchronicle.com/opinion/endorsements/"><img class="img-responsive" src="https://s.hdnux.com/photos/66/76/42/14411934/4/landscape_43.jpg" /></a>
						</div>
						<hr class="visible-xs">
						<div class="col-sm-3 col-md-3" id="fourth">
							<a href="https://www.facebook.com/txpolitics/"><p>Get engaged: Discuss the latest Texas politics on our Facebook page</p></a>
							<a href="https://www.facebook.com/txpolitics/"><img class="img-responsive" src="https://s.hdnux.com/photos/63/22/44/13445427/3/landscape_43.jpg" /></a>
						</div>
					</div>
				</div>
				<!--End related coverage-->
			</div>
		</div>
		<!---Filter/search for candidate results--->
		<div id="guidefilter">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-md-offset-1">
						<div class="results" ng-repeat="candidate in candidates | filter:filters | filter:races | orderBy: 'lastName'">
							<div class="name" ng-click="showCandidate = !showCandidate">{{candidate.firstName}} {{candidate.lastName}} <span ng-style="{color: candidate.color}">({{candidate.fullParty}})</span></div> 
							<div class="candidacy" ng-show="showCandidate">
								<div class="row">
									<div class="col-md-4">
										<img class="img-responsive" src="{{candidate.photo}}" />
									</div>
								</div>
								<p><em>{{candidate.responded}}</em></p>
								<p><strong>Office sought:</strong> {{candidate.office}}</p>
								<p><strong>Age:</strong> {{candidate.age}}</p>
								<p><strong>Born:</strong> {{candidate.born}}</p>
								<p><strong>Hometown:</strong> {{candidate.hometown}}</p>
								<p><strong>Job:</strong> {{candidate.job}}</p>
								<p><strong>Highest education:</strong> {{candidate.highested}}</p>
								<p><strong>College:</strong> {{candidate.college}}</p>
								<p><strong>Marital status:</strong> {{candidate.married}}</p>
								<p><strong>Children:</strong> {{candidate.kids}}</p>
								<p><strong>Military:</strong> {{candidate.military}}</p>
								<p><strong>Previous Served:</strong> {{candidate.previousServed}}</p>
								<p><strong>How will you transform Texas?</strong></p>
								<p>{{candidate.transformTexas}}</p>
								<p><strong>Have you previously served in public office? If so, which office and when?</strong></p>
								<p>{{candidate.previousServed}}</p>
								<p><strong>What sets you apart from your opponents?</strong></p>
								<p>{{candidate.differences}}</p>
								<p><strong>Reason?</strong></p>
								<p>{{candidate.reason}}</p>
								<p><strong>What are your three priorities for Texas?</strong></p>
								<p>1. {{candidate.firstPriority}}</p>
								<p>2. {{candidate.secondPriority}}</p>
								<p>3. {{candidate.thirdPriority}}</p>
								<p><strong>Contact?</strong></p>
								<p>{{candidate.contact}}</p>
								<hr>
							</div>
					    </div>
					</div>
				</div>
			</div>
		</div><!---End filter/search for candidate results--->
	</div><!---End controller--->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="js/search.js"></script> 
<script src="js/guide.js"></script> 
</html>